body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d3557;
}
#grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.grid-item {
    background-color: #f1faee;
}
.colored {
    background-color: #E63946;
}